<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AppId" value="921841"/>
    <add key="LoggingServer.V2.IP" value="collector.logging.uat.qa.nt.ctripcorp.com"/>
    <add key="LoggingServer.V2.Port" value="63100"/>
    <add key="CHystrix.AppName" value="HelloHystrix"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
